.Header img{
    width: 200px;
}
.Header{
    text-align: center;
    padding: 30px 0px;
}
.nav-list {
   margin-top: 30px;
   background-color: black;
}
.nav-list a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 19px;
    margin: 15px;
    transition: .6s;
    padding: 12px 10px;
    line-height: 50px;
}
.nav-list a:hover{
    color: lightblue;
    background-color: aliceblue;
}